/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#college_logo {
  max-width: 150px;
}

#navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffd700;
}

.image-container {
  position: relative;
}

.image-container div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #007bff4f;
}
#college_photo {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

#hero {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

#cta-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#cta-button:hover {
  background-color: #0056b3;
}

#about {
  background-color: #f8f9fa;
  padding: 40px;
}

#admissions {
  background-color: #fff;
  padding: 40px;
}

footer {
  background-color: #0056b3;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  #hero {
    padding: 20px;
  }
  #about,
  #admissions {
    padding: 20px;
  }
}
